.input{
    border: 2px solid rgb(6, 170, 6);
    margin: 10px 5px;
    padding: 2px 10px;
    border-radius: 10px;
    width: 80%;
}
.signIn{
    border: 2px solid rgb(10, 145, 10);
    border-radius: 10px;
    padding: 30px 0;
    margin-top: 80px;
}