.footer-section{
    background-color: rgba(0, 0, 0, 0.815);
    height: 100%;
    margin-top: 80px;
}
.icon-container{
    display: flex;
    justify-content: space-between;
    width: 55%;
    font-size: 17px;
    color: rgb(137, 201, 223);
}
.info li{
    list-style: none;
    margin-top: 10px;
}